.container{
    width: 45vw;
    height: 45vw;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container p{
    
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    font-size: 1.5vw;
    line-height: 2.5vw;
    font-weight: 400;
    text-align: justify;
    color: #FFFFFF;
}   

.border {
    width: 45vw; 
    height: 45vw; 
    background-color: red; /* Cor de fundo da borda */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1vw solid red; /* Estilo da borda ao redor da borda */
    box-sizing: border-box; /* Mantém o tamanho total, incluindo a borda */
  }
 
.logo{
    height: 4vw;
    width: 7.33vw;
    object-fit: contain;
}