.container{
    display: flex;
    width: 35vw;
    height: 35vw;
    flex-direction: column;
    padding-left: 4%;
}

.container span{
    display: flex;
    justify-content: left;
    color: black;
    font-size: 1.2vw;
    line-height: 1.2vw;
    font-weight: 400;
    text-align: left;
    font-family: "uni 05_53";
    
}

.atributos {
    display: flex;
    justify-content: space-between;
  }
  
  .atributosEsquerda {
    display: flex;
    justify-content: flex-start;
  }
  
  .atributosDireita {
    display: flex;
    justify-content: flex-end;
  }

.fracoSE{
    display: flex;
}

.textoTipo{
    font-size: 2.2vw;
    line-height: 2.2vw;
    font-weight: 400;
    text-align: left;
    font-family: "uni 05_53";
    color: #FFFFFF;
}

.neko{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    align-items: center;
    padding-left: 20%;
}