.container{
    background-color:#603B88;
    padding-top: 5%;
    padding-left: 2%;
    width: 1920px;
    height: 1300px;
    top: -10px;
    left: 14212px;
}
.title{
    display:flex;
    padding-bottom: 5%;
}
.textoImagem
{
    display: flex;
    justify-content: space-between;
}