.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 52vw;
    gap: 1vw;
}

.container input
{
    color: black;
    width: 80%;
    height: 3.75vw;
    padding-left: 0.5vw;
    font-size: 1vw;
    border: 1px solid #603B88;
    caret-color: #603B88;
}

.container input::placeholder {
    color: #603B88;
}

.container input:focus {
    outline: none;
}

.container input:focus::placeholder {
    color: lightgray;
}

.container input:hover {
    background-color: rgb(255, 188, 255);
    border: 2px solid #603B88;
    cursor: pointer;
}

.container h1
{
    font-size: 2vw;
    color: #603B88;
    padding-bottom: 1.75vw;
    justify-content: center;
}

.container button
{
    width: 35%;
    border: 1px solid #603B88;
    font-size: 1.5vw;
    margin-top: 0.5vw;
    height: 3.75vw;
    color: #603B88;
}

.container button:hover
{
    color: white;
    background-color: #603B88;
    border: 2px solid #603B88;
    cursor: pointer;
}