.container{
    width: 100vw;
    height: 3vw;
    display: flex;
    align-items: center;
}

.container span
{
    font-family: var(--font-title);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 3.5vw;
    text-shadow: 0.25vw 0.25vw black;
}
