.container{
    width: 100%;
    height: 32vw;
    background-color:#414141;
    padding: 3vw 3vw 3vw 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container span{
    padding-top: 2vw;
    width: 100%;
    font-family: "PokeIDEx Font";
    font-size: 1.25vw;
    text-align: center;
}

.container span:hover{
    cursor: text;
}

.imagens{
    height: 4vw;
    width: 4vw;
    transition: 250ms all ease-in-out;
    align-self: center;
}

.imagens:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.ide{
    height: 4vw;
    width: 7.5vw;
    align-self: flex-end;
}

.ide:hover{
    cursor: pointer;
}