@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container{
    width: 100%;
    height: 300px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#414141;
}

.container span {
    font-family: 'Press Start 2P';
    font-weight: 100;
    font-size: x-small;
}

.container span:hover{
    cursor: default;
}
